@import 'elements';

$primaryColor: #79f;
$errorColor: #f57;
$successColor: #8f5;
$warningColor: #fd5;
$backgroundColor: #eef;

$colors: (
  background: $backgroundColor,
  error: $errorColor,
  success: $successColor,
  warning: $warningColor,
  primary: $primaryColor
);

@each $var, $color in $colors {
  :root {
    --#{$var}: #{$color};
  }
}

:root {
  background-color: var(--background);
}

@each $button in $buttons {
  #{$button} {
    background-color: var(--primary);
  }
}

@each $button in $buttons {
  %shared-button {
    @extend %shared;
    border: .1rem solid var(--primary);
    background-color: var(--primary);
  }

  #{$button} {
    @extend %shared-button;
  }

  #{$button}:hover {
    @extend %shared-button;
    filter: brightness(1.2);
  }
}

@each $button in $buttons {
  @each $var, $color in $colors {
    #{$button}.#{$var} {
      border: .1rem solid var(--#{$var});
      background-color: var(--#{$var});
    }
  }
}

@each $var, $color in $colors {
  .#{$var} {
    background-color: var(--#{$var});
  }

  .#{$var}:hover {
    border: .1rem solid var(--#{$var});
    background-color: var(--#{$var});
    filter: brightness(1.2);
  }
}

@each $var, $color in $colors {
  .#{$var} {
    background-color: var(--#{$var});
  }
}

@each $var, $color in $colors {
  .#{$var}:hover {
    filter: brightness(1.2);
  }

  .#{$var}:active {
    filter: brightness(.8);
  }
}

@each $inputElement in $inputElements {
  #{$inputElement} {
    @extend %shared;
    border: .1rem solid darken($primaryColor, $amount: 30);
    background-color: var(--primary);
    filter: brightness(1.6);
  }

  #{$inputElement}:hover {
    @extend %shared;
    border: .1rem solid darken($primaryColor, $amount: 30);
    background-color: var(--primary);
    filter: brightness(1.4);
  }
}

@each $button in $buttons {
  #{$button} {
    filter: brightness(1);
  }

  #{$button}:hover {
    filter: brightness(1.2);
  }

  #{$button}:active {
    background-color: var(--primary);
    filter: brightness(.8);
  }
}

@each $inputElement in $inputElements {
  #{$inputElement} {
    @extend %shared;
    background-color: var(--primary);
  }
}
