@import 'colors';

body {
  margin: 0;
}

:root {
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  justify-items: stretch;
  align-items: center;
  grid-gap: 1rem 1rem;
  gap: 1rem 1rem;
}

@each $size in (1,2,3,4,6,12) {
  @media (min-width: $size * 200px) {
    .container {
      display: grid;
      grid-template-columns: repeat($size, minmax(80px, 1fr));
      grid-template-rows: repeat(1, 1fr);
      justify-items: stretch;
      align-items: center;
      grid-gap: 1rem 1rem;
      gap: 1rem 1rem;
    }  
  }  
}

@each $size in (1,2,3,4,5,6,7,8,9,10,11,12) {
  .size-#{$size} {
    grid-column-end: span $size
  }

  .col-#{$size} {
    grid-column-start: $size
  }
}
